/* Стили страницы Портфолио*/
.portfolio-section {
  @include indentation(var(--gap-section), null);
}

.portfolio-filter__list {
  @include centeredFlex();
  margin-bottom: 50px;
}

.portfolio-filter__item:not(:first-child) {
  margin-left: 8px;
}

.portfolio-filter__button {
  @include indentation(6px, 22px);
  font-family: inherit;
  @include font-source(500, 16px, 1.62, 0.03em, var(--header-color));
  background-color: var(--secondary-background);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: color var(--time-function) var(--timing-function),
    background-color var(--time-function) var(--timing-function),
    box-shadow var(--time-function) var(--timing-function);

  &--active,
  &:hover,
  &:focus {
    color: var(--prime-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
