/* Секция клиенты */
.clients-section {
  @include indentation(60px, null);
  // @include indentation(94px, null);
  background-color: var(--prime-color);
}

.clients-title {
  margin-bottom: 30px;
  // margin-bottom: var(--gap-header);

  @include font-source(700, 28px, 1.178, 0.03em, var(--header-color));
  // @include font-source(700, 36px, 1.17, 0.03em, var(--header-color));
  text-align: center;
}

.clients__list {
  @media (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.clients__item {
  @media (max-width: 479px) {
    height: 106px;
  }

  @media (min-width: 480px) {
    height: 92px;
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }
  // @include size(170px, 92px);
}

.clients__item:not(:last-child) {
  @media (max-width: 480px) {
    margin-bottom: 30px;
  }
}

// .clients__item:not(:first-child) {
//   margin-left: var(--gap-item);
// }

.clients__link {
  @include centeredFlex();
  height: 100%;

  color: var(--border-clients-color);
  border: 1px solid var(--border-clients-color);
  border-radius: 4px;

  transition: color var(--time-function) var(--timing-function),
    border-color var(--time-function) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients__svg {
  fill: currentColor;

  &:hover,
  &:focus {
    fill: currentColor;
  }
}
