/* Секция особенности */
.features-section {
  @include indentation(60px, null);

  @media screen and (min-width: 1200px) {
    @include indentation(var(--gap-section), null);
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.features__item {
  width: 100%;
  margin-top: 30px;
  margin-left: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.features__item:not(:last-child) {
  @media screen and (max-width: 480px) {
    margin-bottom: 30px;
  }
}

.features__thumb {
  @include centeredFlex();
  height: 120px;
  margin-bottom: var(--gap-item);

  background-color: var(--secondary-background);
  border-radius: 4px;
}

.features__title {
  margin-bottom: var(--gap-title);

  @include font-source(700, 14px, 1.142, 0.03em, var(--header-color));
  text-transform: uppercase;
  text-align: center;
}

.features__text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
