/* змінні */
:root {
  /* колір заголовків */
  --title-color: #212121;
  /* перший колір для тексту */
  --color-text: #757575;
  /* темний колір */
  --dark-color-text: #000000;
  /* світлий колір */
  --light-color: #ffffff;
  /* прозорий колір */
  --transparent-color: rgba(255, 255, 255, 0.6);
  /* акцентний колір */
  --accent-color: #2196f3;
  /* час затримки */
  --time-duration: 250ms;
  /* час розподілу функції */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
