/* Стили подвала */
.footer-page {
  @include indentation(60px, null);
  background-color: var(--prime-background);

  // @include indentation(var(--gap-footer), null);
}

.footer-page__flex {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  //   align-items: baseline;
}
