/* Стили соцсетей подвала */

.footer-social {
  width: 206px;
}

.footer-social__text {
  margin-bottom: 20px;
  @include font-source(700, 14px, 1.142, 0.03em, var(--prime-color));
  text-transform: uppercase;
}

.footer-social__list {
  display: flex;
}

.footer-social__item {
  @include size(44px, 44px);
}

.footer-social__item:not(:first-child) {
  margin-left: var(--gap-title);
}

.footer-social__link {
  @include centeredFlex();
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--time-function) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
